@{
    ViewBag.Title = "CoachProfile";
    Layout = "~/Views/Account/_profileLayout.cshtml";
}

<div class="tab-content" style="padding-left: 20px;">
    <div id="stat" class="tab-pane fade in active">
        <h1>1</h1>
    </div>
    <div id="training" class="tab-pane fade">
        <h1>2</h1>
    </div>
    <div id="msg" class="tab-pane fade">
        <h1>3</h1>
    </div>
    <div id="settingCoach" class="tab-pane fade">
        <h1>5</h1>
    </div>
</div>
