@model Smart__Body.Models.DataPoint
@{
    ViewBag.Title = "Coaches";
    Layout = "~/Views/Account/_profileLayout.cshtml";
}

<div class="price_table container text-center" style="width:100%">

    @for (int i = 0; i < @ViewBag.count; i++)
    {
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="price_box wow fadeInUp" data-wow-duration="2s">
                <form method="post" action="">
                    <button type="submit" class="close"><span aria-hidden="true" style="color:black;font-size:50px">&times;</span></button>
                </form>
                <form method="post" action="">
                    <button type="button" data-toggle="modal" data-target="#addCoach" class="close" style="padding-top:7px"><span aria-hidden="true" style="color:black;font-size:30px"><i class="fas fa-edit"></i></span></button>
                </form>
                <h2 class="text-primary">Coach</h2>
                <p class="center-block"><i class="fas fa-user"></i></p>
                <label>Coach Name</label>
                <br />
                <span style="font-size:18px;">@ViewBag.Coach[i]</span>
                <br />
                <label>Coach phone</label>
                <br />
                <span style="font-size:18px;">@ViewBag.Coach[i]</span>
                <br />
                <label>Coach Email</label>
                <br />
                <span style="font-size:18px;">@ViewBag.Coach[i]</span>
            </div>
        </div>
    }

    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="price_box wow fadeInUp" data-wow-duration="2s" style="min-height:403px">
            <h2 class="text-primary">Add Coach</h2>
            <br /><br /><br /><br />
            <a><p class="center-block" data-toggle="modal" data-target="#addCoach">+</p></a>

        </div>
    </div>

</div>



<div class="modal fade" tabindex="-1" role="dialog" id="addCoach">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:black;font-size:50px">&times;</span></button>
                <h4 class="modal-title">New Package details</h4>
            </div>
            <div class="modal-body">

                <div class="modal-body">
                    <form method="post" action="">
                        <fieldset style="border: none;" data-role="controlgroup" data-type="horizontal">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" style="width: 200px;">Name</span>
                                <input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1" style="width: 350px;" />
                            </div>
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" style="width: 200px;">User Name </span>
                                <input type="text" class="form-control" style="width: 350px;" placeholder="User Name" aria-describedby="sizing-addon1" />
                            </div>
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" style="width: 200px;">Password </span>
                                <input type="password" class="form-control" style="width: 350px;" placeholder="Password" aria-describedby="sizing-addon1" />
                            </div>
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" style="width: 200px;">Repeat Password </span>
                                <input type="password" class="form-control" style="width: 350px;" placeholder="Repeat Password" aria-describedby="sizing-addon1" />
                            </div>
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" style="width: 200px;">Email </span>
                                <input type="email" class="form-control" style="width: 350px;" placeholder="Email" aria-describedby="sizing-addon1" />
                            </div>
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" style="width: 200px;">Phone </span>
                                <input type="Number" class="form-control" style="width: 350px;" placeholder="01000000000" aria-describedby="sizing-addon1" />
                            </div>
                            <br />
                            <button id="btnAddBackage" type="submit" class="btn btn-lg btn-primary btn-block">ADD Coach</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




