@{
    ViewBag.Title = "AboutUs";
}

        <!-- Start About Us Intro -->

<section class="about-us text-center">
    <div class="container">
        <h1>About Us</h1>
        <hr>
        <p class="lead">We Create Your Digital Dreams Just Think And Tell Us What You Need <br> Or Leave The Inspiration To Us And Just Watch, Just Believe In Our Professionals</p>
        <img class="img-thumbnail" src="~/Images/company_team.jpg" alt="Company Team">
    </div>
</section>

<!-- End About Us Intro -->
<!-- Start About Features -->

<section class="about-features text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-code fa-5x"></i>
                <h3>We Love Code</h3>
                <p>We Create Your Digital Dreams Just Think And Tell Us What You Need Or Leave The Inspiration To Us And Just Watch, Just Believe In Our Professionals</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-child fa-5x"></i>
                <h3>We Are Happy</h3>
                <p>We Create Your Digital Dreams Just Think And Tell Us What You Need Or Leave The Inspiration To Us And Just Watch, Just Believe In Our Professionals</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-child fa-5x"></i>
                <h3>We Are Social</h3>
                <p>We Create Your Digital Dreams Just Think And Tell Us What You Need Or Leave The Inspiration To Us And Just Watch, Just Believe In Our Professionals</p>
            </div>
        </div>
    </div>
</section>

<!-- End About Features -->

