@{
    ViewBag.Title = "Exercise";
}

<section>
    <div>
        <div class="container">


            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/2.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  Zumba </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;"> Zumba is an exercise fitness program created by Colombian dancer and choreographer Alberto "Beto" Perez during the 1990s.[1] Zumba is a trademark owned by Zumba Fitness, LLC. The Brazilian pop singer Claudia Leitte has become the international ambassador to Zumba Fitness <br /> Zumba involves dance and aerobic movements performed to energetic music. The choreography incorporates hip-hop, soca, samba, salsa, merengue and mambo. Squats and lunges are also included.[3] Zumba Fitness, the owner of the Zumba program, does not charge licensing fees to gyms or fitness centers.[4] Approximately 15 million people take weekly Zumba classes in over 200,000 locations across 180 countries. <br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/1.png  " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:20px;" />

                <h1 class="lead">  Squat </h1>

                <p class="ex_info lead text-center" style="border-bottom:solid #00818a;"> In strength training and fitness, the squat is a compound, full body exercise that trains primarily the muscles of the thighs, hips and buttocks, quadriceps femoris muscle (vastus lateralis, vastus medialis, vastus intermedius and rectus femoris), hamstrings<br /> as well as strengthening the bones, ligaments and insertion of the tendons throughout the lower body. Squats are considered a vital exercise for increasing the strength and size of the legs as well as developing core strength. Squats are typically used to hone back, thigh, and hip stability.[1] Isometrically, the lower back, the upper back, the abdominals, the trunk muscles, the costal muscles, and the shoulders and arms are all essential to the exercise and thus are trained when squatting with the proper form <br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/3.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  Cardio  </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;"> Zumba is an exercise fitness program created by Colombian dancer and choreographer Alberto "Beto" Perez during the 1990s.[1] Zumba is a trademark owned by Zumba Fitness, LLC. The Brazilian pop singer Claudia Leitte has become the international ambassador to Zumba Fitness <br /> Zumba involves dance and aerobic movements performed to energetic music. The choreography incorporates hip-hop, soca, samba, salsa, merengue and mambo. Squats and lunges are also included.[3] Zumba Fitness, the owner of the Zumba program, does not charge licensing fees to gyms or fitness centers.[4] Approximately 15 million people take weekly Zumba classes in over 200,000 locations across 180 countries.Duration: 35 minutes  Fitness level: Intermediate/advanced Equipment: A step or platform Why It Works This workout takes traditional interval training and turns up the heat by shortening the recovery intervals between exercises.How It Works High-intensity cardio exercises: The cardio moves include a range of exercises from long jumps to burpees. Because the intensity is cumulative, you should feel breathless by the end of each circuit.  <br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/4.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  youg  </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;"> Yoga is an ancient physical and spiritual discipline and branch of philosophy that originated in India reportedly more than 5,000 years ago. The Iyengar school of yoga defines yuj as the "joining or integrating of all aspects of the individual - body with mind and mind with soul - to achieve a happy, balanced and useful life." The ultimate aim of yoga, they claim, is to reach kaivalya (emancipationor ultimate freedom).Yoga uses asanas (postures), focused concentration on specific body parts, and pranayama (breathing techniques) to integrate the body with mind and mind with soul.<br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/5.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  push up  </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;"> You don't need to join the Army to enjoy the many benefits of doing a proper push-up. A basic push up is an effective way to strengthen the chest and arm muscles and can be easily scaled as you get stronger. Simple push-ups require no equipment other than your own bodyweight and your arms, and they can be done anywhere there is a firm surface with enough space for you to stretch out flat in.<br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/6.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  Plank  </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;">strength exercise that involves maintaining a position similar to a push-up for the maximum possible time.The plank strengthens the abdominals, back, and shoulders. Muscles involved in the front plank <br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/7.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  Jumping jack  </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;"> A jumping jack (Canada & US) or star jump (UK and other Commonwealth nations), also called side-straddle hop in the US military, is a physical jumping exercise performed by jumping to a position with the legs spread wide and the hands touching overhead, sometimes in a clap, and then returning to a position with the feet together and the arms at the sides.The name origin for the jumping jack exercise has sometimes erroneously been identified as World War I U.S. General John J. "Black Jack" Pershing,[1] who is said to have developed the exercise, but in fact the name comes from the jumping jack children's toy, which makes similar arm swing and leg splay motions when the strings are tugged. "Star jump" refers to the person's appearance with legs and arms spread.<br />  <br /></p>
            </div>

            <div class="text-center">
                <img class="imgfluid" src="~/Images/exercises/8.jpg " alt="Exersirces Pic" height="400" width="550" style=" padding-bottom:15px; padding-top:30px;" />

                <h1 class="lead">  Wall Sit  </h1>

                <p class="ex_info lead" style="border-bottom:solid #00818a;"> A wall sit is an exercise done to strengthen the hamstrings muscles.[1] It is characterized by the two right angles formed by the body, one at the hips and one at the knees. The person wall sitting places their back against a wall with their feet shoulder width apart and a little ways out from the wall. Then, keeping their back against the wall, they lower their hips until their knees form right angles. This is a very intense work out for the hamstrings muscles. It can be very painful to hold this position for extended periods of time. Wall sits are used as a primary strengthening exercise in many sports requiring strong quadriceps like fencing, ice hockey, sailing (mostly small boat racing), skiing and track and field. This exercise is also used as a disciplinary activity in the armed forces. It takes up little space, and can be administered easily in classroom settings to misbehaving soldiers-in-training.<br />  <br /></p>
            </div>


        </div>

    </div>


    <div>

    </div>
</section>