@model Smart__Body.Models.DataPoint

@{
    ViewBag.Title = "bookTrains";
    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="container-fluid" style="min-height:80vh">
    
    <div class="price_table text-center">

        @for (int i = 0; i < 10; i++)
        {
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="price_box wow fadeInUp" data-wow-duration="2s">
                    <h2 class="text-primary">Training</h2>
                    <p class="center-block">2$</p>
                    <label>Training Name</label>
                    <br />
                    <span style="font-size:18px;">aaaa</span>
                    <br />
                    <label># trainees</label>
                    <br />
                    <span style="font-size:18px;">Aaa</span>
                    <br />
                    <label>Duration</label>
                    <br />
                    <span style="font-size:18px;">Aaaa</span>
                    <br />

                </div>
            </div>

        }


    </div>
</div>